@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* Extender o configurar el tema de Tailwind CSS */
@theme {
  /* Ejemplo de un color personalizado 'primary' */
  --color-palette-1: #7f2e2c; /*<-principal*/
  --color-palette-2: #a38613; /*<-principal*/
  --color-palette-3: #c1ae10; /*<-principal*/
  --color-palette-4: #f8f4ed;
  --color-palette-5: #3a2e2a;
  --color-palette-6: #e8ddc8;
  --color-palette-7: #5b7c5a;
  --color-palette-8: #335a65;
  --color-palette-9: #b8cbd1;
  --color-palette-10: #10b981;
}

@layer utilities {
  @keyframes slide {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-slide {
    animation: slide 18s linear infinite;
  }
}
